@font-face {
    font-family: font;
    src: url('/fonts/Sahel.ttf');
}

html[lang=fa] {
    font-family: font,ui-sans-serif,system-ui,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}
